NEXUS_DEV_HOST=0.0.0.0
NEXUS_DEV_PORT=9986
NEXUS_ADMIN_BOOTSTRAP_STUDENT_NO=2305100613
NEXUS_ADMIN_LOGIN_PASSWORD=
NEXUS_SESSION_TOKEN_SECRET=
NEXUS_HEARTBEAT_TOKEN=
NEXUS_HEARTBEAT_TIMEZONE=Asia/Shanghai
